body {
  background: #262626 url("../img/body.png?theme=yepjl") repeat scroll center top;
  color: #fff;
  min-height: 100%; }

.form-control {
  margin-bottom: 10px; }

i {
  color: #5cb85c; }

a {
  color: #222; }
  a:hover, a:focus, a:active {
    color: #5cb85c;
    text-decoration: none; }

.btn__custom {
  border: 1px solid #398439;
  background-color: #fff;
  color: #5cb85c; }
  .btn__custom:hover {
    background-color: #5cb85c;
    color: #fff; }

/*auth_page*/
.block__auth {
  width: 358px;
  height: 212px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto; }

/*end of auth_page*/
/*main_content*/
.navbar {
  padding: 0 20px;
  margin-bottom: 10px; }

.nav {
  position: relative; }

#messages {
  color: #5cb85c;
  padding: 15px; }

.main__content {
  background-color: #fff;
  color: #222;
  padding: 20px 20px; }

.button__block {
  margin-right: 10px; }

.main-tab__block .block__title {
  text-align: center;
  margin-bottom: 30px; }
.main-tab__block .block__subtitle {
  text-align: left;
  margin: 10px 0; }
.main-tab__block .block__leftCol #file_list {
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 500px;
  overflow: auto;
  padding: 10px 20px 10px 40px;
  width: 100%; }
  .main-tab__block .block__leftCol #file_list li {
    position: relative; }
    .main-tab__block .block__leftCol #file_list li span {
      position: absolute;
      right: 0;
      cursor: pointer;
      color: #5cb85c; }
.main-tab__block .block__leftCol input {
  margin-right: 10px; }
.main-tab__block .block__leftCol-mtop {
  margin-top: 54px; }
.main-tab__block .preview__block {
  width: 100%;
  max-height: 500px;
  background-color: #222;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-top: 54px;
  position: relative; }
  .main-tab__block .preview__block i {
    display: inline-block;
    position: absolute;
    top: 45%;
    left: 45%; }
  .main-tab__block .preview__block img {
    width: 100%;
    max-height: 500px; }
.main-tab__block .download__btn input {
  display: none; }
.main-tab__block .video__block {
  text-align: center; }
  .main-tab__block .video__block video {
    background-color: #222; }
  .main-tab__block .video__block p i {
    margin: 10px 20px; }
  .main-tab__block .video__block p a:hover i {
    color: #69B069; }
.main-tab__block .protocol__block table {
  width: 100%;
  border-radius: 4px; }
  .main-tab__block .protocol__block table th, .main-tab__block .protocol__block table td {
    text-align: center; }
  .main-tab__block .protocol__block table td:first-child {
    text-align: left; }
  .main-tab__block .protocol__block table tr {
    transition: background-color .5s ease; }
    .main-tab__block .protocol__block table tr:hover {
      background-color: #C6E1C6;
      transition: background-color .5s ease; }
.main-tab__block .log__block #logs {
  width: 100%;
  height: 250px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px; }
.main-tab__block .console__block #console {
  width: 100%;
  height: 100px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #222;
  color: #5cb85c;
  padding: 10px; }
.main-tab__block .console__block input {
  background-color: #222;
  color: #5cb85c; }

.modal-title {
  color: #000000; }

/*end of main_content*/

/*# sourceMappingURL=main.css.map */
