$itemColor: #5cb85c;
$itemColorHover: #69B069;
$textColor: #222;
$bodyColor: #fff;

$itemBgColor: #222;
$mainBgColor: #fff;

$bdColor: #ccc;
$itemBdColor: #398439;

$tableHover: #C6E1C6;

body {
  background: #262626 url("../img/body.png?theme=yepjl") repeat scroll center top;
  color: $bodyColor;
  min-height: 100%;
}

.form-control {
  margin-bottom: 10px;
}

i {
  color: $itemColor;
}

a {
  color: $textColor;
  &:hover,
  &:focus,
  &:active {
    color: $itemColor;
    text-decoration: none;
  }
}

.btn__custom {
  border: 1px solid $itemBdColor;
  background-color: #fff;
  color: $itemColor;
  &:hover {
    background-color: $itemColor;
    color: $bodyColor;
  }
}

/*auth_page*/
.block__auth {
  width: 358px;
  height: 212px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
}

/*end of auth_page*/

/*main_content*/
.navbar {
  padding: 0 20px;
  margin-bottom: 10px;
}

.nav {
  position: relative;
}

#messages {
  color: $itemColor;
  padding: 15px;
}

.main__content {
  background-color: $mainBgColor;
  color: $textColor;
  padding: 20px 20px;

}

.button__block {
  margin-right: 10px;
}

.main-tab__block {
  .block__title {
    text-align: center;
    margin-bottom: 30px;
  }
  .block__subtitle {
    text-align: left;
    margin: 10px 0;
  }

  .block__leftCol {
    #file_list {
      border: 1px solid $bdColor;
      border-radius: 4px;
      height: 500px;
      overflow: auto;
      padding: 10px 20px 10px 40px;
      width: 100%;
      li {
        position: relative;
        span {
          position: absolute;
          right: 0;
          cursor: pointer;
          color: $itemColor;
        }
      }
    }
    input {
     // width: 100%;
      margin-right: 10px;
    }
  }

  .block__leftCol-mtop{
    margin-top: 54px;
  }

  .preview__block {
    width: 100%;
    max-height: 500px;
    background-color: $itemBgColor;
    border: 1px solid $bdColor;
    border-radius: 4px;
    margin-top: 54px;
    position: relative;
    i {
      display: inline-block;
      position: absolute;
      top: 45%;
      left: 45%;
    }
    img {
      width: 100%;
      max-height: 500px;

    }
  }
  .download__btn {
    input {
      display: none;
    }
  }
  .video__block {
    text-align: center;
    video {
      background-color: $itemBgColor;
    }
    p {
      i {
        margin: 10px 20px;
      }
      a {
        &:hover {
          i {
            color: $itemColorHover;
          }
        }
      }
    }
  }
  .protocol__block {
    table {
      width: 100%;
      border-radius: 4px;
      th, td {
        text-align: center;
      }
      td:first-child {
        text-align: left;
      }
      tr {
        transition: background-color .5s ease;
        &:hover {
          background-color: $tableHover;
          transition: background-color .5s ease;
        }
      }
    }
  }
  .log__block {
    #logs {
      width: 100%;
      height: 250px;
      border: 1px solid $bdColor;
      border-radius: 4px;
      padding: 10px;
    }
  }
  .console__block {
    #console {
      width: 100%;
      height: 100px;
      border: 1px solid $bdColor;
      border-radius: 4px;
      background-color: $itemBgColor;
      color: $itemColor;
      padding: 10px;
    }
    input {
      background-color: $itemBgColor;
      color: $itemColor;
    }
  }
}

.modal-title {
  color: #000000;
}

/*end of main_content*/